/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 11, 2023, 11:15:49 AM
    Author     : sonk
*/

.body {
    background-image: linear-gradient(to right, rgb(255, 255, 195), pink, rgb(255, 181, 255));
    background-size: 1500pt 1500pt;
}

.sign_in_square {
    margin: 15% auto 15% auto;
    height: 366px;
    width: 400px;
    border-radius: 5%;
    background-color: white;
    
    text-align: center;
}

.log_in_text {
    padding-top: 30px;
    margin-bottom: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: xxx-large;
    color:blueviolet;
}

.log_in_text_field {
    margin: 10px;
    margin-left: 30px;
    font-family:'Courier New', Courier, monospace;
    color: blueviolet;
    font-size: x-large;
    text-align: left;
}

.log_in_input_field {
    height:35px; 
    width: 85%;
    font-size:15pt;
    border-width: 3px;
    border-radius: 10px;
    border-color: blueviolet;
    border-style: solid;
}

.log_in_button {
    align-self: center;
    display: block;
    margin: 25px auto 30px auto;
    height: 60px;
    width: 100%;
    font-size: 19px;
    border-radius: 25px;
    color:rgb(140, 111, 190);
    border-style: solid;
    border-color:rgb(187, 148, 255);
    border-width: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color:  rgb(208, 243, 255);
    font-weight: bold;
}

table {
    height: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 12.5%;
    height: 100%;
    
    margin: 0px;
    background-image: linear-gradient(to left, rgb(142, 236, 250), rgb(163, 240, 255) , rgb(247, 249, 218) );
    z-index: 1;
    
    border-left:  0;
    border-right: 10px;
    border-top: 0;
    border-bottom: 0;
    border-color: rgb(187, 148, 255);
    border-style: solid;
}

nav ul {
    padding: 0;
    list-style: none;
    height: 100%;
}

nav li {
    margin: 10px;
    
}

#logout {
    position: absolute;
    bottom: 0.5%;
    width: 91%;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    
    font-weight: bold;
}

.nav_selected {
     background-color: pink;
}

.page_body {
    background: white;
    margin-left: 13.5%;
    margin-right: 0%;
    padding: 20px;
    border-radius: 20px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    border-color: rgb(187, 148, 255);
    border-width: 2px;
    border-style: solid;
    box-align: center;
}


footer {    
    bottom: 0;
    position: fixed;
    background: #5e17eb;
    width: 100%;
}

footer h3 {
    padding-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    color:white;
    
    text-align: right;
}

table, th, td {
    border-collapse: collapse;
    margin: 0;
    border-color: rgb(187, 148, 255);
    border-top: 0px;
    border-bottom: 0px;
    border-left: 2px;
    border-right: 2px;
    border-style: solid;
}